<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <!-- <script src="/index.js" defer></script> -->
</head>
<body>
    <header>
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="./dynamicstore.html">STORE</a></li>
            <li><a href="./about.html">ABOUT</a></li>
            <li><a href="./orders.html">ORDERS</a></li>
        </ul>
        <h1>BikerZone</h1>
    </header>
    <section id="tours" class='container'>
        <h2>Upcoming Bikes</h2>
        <div>
            <div class="tour-item">
                <span class="tour-date">October 2022</span>
                <span class="tour-place">KTM</span>
                <span class="tour-spec-place">KTM 890 Duke</span>
                <button class="buy-btn">Advance Booking</button>
            </div>
            <div class="tour-item">
                <span class="tour-date">December 2022</span>
                <span class="tour-place">Emflux</span>
                <span class="tour-spec-place">Emflux Two-R</span>
                <button class="buy-btn">Advance Booking</button>
            </div>
            <div class="tour-item">
                <span class="tour-date">March 2023</span>
                <span class="tour-place"> Yamaha</span>
                <span class="tour-spec-place">Yamaha YZF R1</span>
                <button class="buy-btn">Advance Booking</button>
            </div>
            <div class="tour-item">
                <span class="tour-date">June 2023</span>
                <span class="tour-place">Kawasaki</span>
                <span class="tour-spec-place">Kawasaki Ninja H2</span>
                <button class="buy-btn">Advance Booking</button>
            </div>
            <div class="tour-item">
                <span class="tour-date">February 2024</span>
                <span class="tour-place">Suzuki</span>
                <span class="tour-spec-place">Suzuki GSX R1000R</span>
                <button class="buy-btn">Advance Booking</button>
            </div>
            <div class="tour-item">
                <span class="tour-date">November 2024</span>
                <span class="tour-place">Yamaha</span>
                <span class="tour-spec-place">Yamaha GYTR VR46</span>
                <button class="buy-btn">Advance Booking</button>
            </div>
        </div>
    </section>
    
    <footer>
        <div class="footer-title">
            BikerZone
        </div>
        <div class="footer-icons">
            <ul>
                <li><a href="https://github.com/adarshahelvar">
                    <img src="../images/github.jpg" alt="">
                </a></li>
                <li><a href="https://www.instagram.com/adarsh_helvar/">
                    <img src="../images/Instagram_icon.png.webp" alt="">
                </a></li>
                <li><a href="https://www.linkedin.com/in/adarshahelvar/">
                    <img src="../images/linkdin.png" alt="">
                </a></li>
            </ul>
        </div>
        
    </footer>
</body>
</html>